<ion-view view-title="{{cc.R.Settings}}">
    <!--<ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>-->

    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="cc.goBack()"></button>
        <div class="h1 title">{{cc.R.Settings}}</div>
    </div>
    
    <ion-content class="has-header" overflow-scroll="false">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{cc.R.IPAddress}}</span>
                <input class="align-right-input" type="text" placeholder="{{cc.R.IPAddress}}" ng-model="cc.data.ip">
            </label>
            <label class="item item-input">
                <span class="input-label">{{cc.R.Port}}</span>
                <input class="align-right-input" type="text" placeholder="{{cc.R.Port}}" ng-model="cc.data.port">
            </label>
            <label class="item item-input">
                <span class="input-label">{{cc.R.ServiceName}}</span>
                <input class="align-right-input" type="text" placeholder="{{cc.R.ServiceName}}" ng-model="cc.data.serviceName">
            </label>
            <label class="item item-input">
                <span class="input-label">{{cc.R.Timeout}}</span>
                <input class="align-right-input" type="text" placeholder="{{cc.R.Timeout}}" ng-model="cc.data.requestTimeout">
            </label>
            <div class="item item-input">
                <span class="input-label">{{cc.R.UseGoogleService}}</span>
                <div class="align-right-input" style="padding-right:28px;">
                    <label class="toggle">
                        <input type="checkbox" ng-model="cc.data.enableGoogleService">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>                
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive" ng-click="cc.save()">
        <div class="title">{{cc.R.Save}}</div>    
    </div>
</ion-view>
