<ion-view view-title="{{jmc.R.Map}}">
    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="jmc.goBack()"></button>
        <div class="h1 title">{{jmc.R.Map}}</div>
    </div>
    <ion-content class="has-tab-top has-header" overflow-scroll="false">  
        <div id="journalViewMap" data-tap-disabled="true" style="height:300px;width:100%">
        </div> 
        <div class="list">
            <div id="dvPanel">
            </div>  
        </div>
</ion-content>
</ion-view>
