<ion-view view-title="{{tmc.R.Journal}}">
    <!--<ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>-->
    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="tmc.goBack()"></button>
        <div class="h1 title">TEST MAP</div>
    </div>
    <ion-content ng-class="tmc.allowStartJournal ? 'has-header has-footer' : 'has-header'" overflow-scroll="false">
        <div id="journalViewMap" data-tap-disabled="true" style="height:300px;width:100%;background:yellow;">
        </div>
        <div class="list">
            <!--<div class="item item-divider item-icon-left item-balanced">
                <i class="icon ion-information-circled"></i>{{tmc.R.JournalInfo}}
            </div>-->
            <label class="item item-input">
                <span class="input-label">Hành Trình</span>
                <span class="input-label" style="white-space:normal;">{{tmc.journal.name}}</span>
            </label>
            <label class="item  item-input">
                <span class="input-label">Mô Tả</span>
                <span class="input-label" style="white-space:normal;">{{tmc.journal.description}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Từ</span>
                <span class="input-label" style="white-space:normal;">{{tmc.journal.startLocation}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Đến</span>
                <span class="input-label" style="white-space:normal;">{{tmc.journal.endLocation}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Ngày</span>
                <span class="input-label">{{tmc.journal.activeDate}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Khoảng Cách</span>
                <span class="input-label" id="distance"></span>
            </label>
            <label class="item item-input">
                <span class="input-label">Thời Gian</span>
                <span class="input-label" id="duration"></span>
            </label>

            <!--<div class="item item-divider item-icon-left item-balanced">
                <i class="icon ion-location"></i>{{tmc.R.StopLocations}}
            </div>
            <label class="item item-input" ng-repeat="s in tmc.journal.stopPoints">
                <span class="input-label">{{s.name}}</span>
                <span class="input-label" style="white-space:normal;">{{s.description}}</span>
            </label>-->
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive" ng-click="tmc.startJournal()" ng-show="tmc.allowStartJournal">
        <div class="title">{{tmc.R.PickUpJournal}}</div>
    </div>
</ion-view>
