<ion-view view-title="{{tdc.R.TruckDetail}}">
    <!--<ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>-->
    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="tdc.goBack()"></button>
        <div class="h1 title">{{tdc.R.TruckDetail}}</div>
    </div>
    <ion-content class="has-header has-footer" overflow-scroll="false">
        <div class="list">
            <div class="item item-input">
                <span class="input-label">Tên Xe:</span>
                <span class="input-label">{{tdc.truck.name}}</span>
            </div>
            <div class="item item-input">
                <span class="input-label">Số Xe</span>
                <span class="input-label">{{tdc.truck.number}}</span>
            </div>
            <div class="item">
                <!--<span class="input-label">Chi Tiết</span>-->
                <p style="white-space:normal;">{{tdc.truck.description}}</p>
            </div>
        </div>
    </ion-content>   
    <div class="bar bar-footer bar-positive" ng-click="tdc.save()">
        <div class="title">{{tdc.R.Select}}</div>
    </div>
</ion-view>
