<ion-view view-title="{{tc.R.Trucks}}">
    <!--<ion-nav-bar class="bar-positive">
        <ion-nav-back-button ng-show="tc.allowBack">
        </ion-nav-back-button>
    </ion-nav-bar>-->
    <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="tc.goBack()" ng-show="tc.allowBack"></button>
        <div class="h1 title">{{tc.R.Trucks}}</div>
    </div>
    <div class="bar bar-subheader">
        <h2 class="title">{{tc.R.SelectTruck}}</h2>
    </div>
    <ion-content class="has-header has-subheader" overflow-scroll="false">
        <div class="list">
            <a ng-repeat="t in tc.trucks" class="item item-icon-left item-icon-right" href="" ng-click="tc.viewDetail(t.id);">
                <i ng-class="t.isSelected ? 'icon ion-ios-checkmark' : 'icon ion-ios-circle-outline'"></i>
                <h2>{{t.name}}</h2>
                <p>{{t.number}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
